<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Christopher Ellis Portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css" />
        <script src="https://kit.fontawesome.com/5d7d532771.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>

    <body>

        <!-- page title start -->
        <section class="hero is-medium is-dark has-text-centered">
            <div class="hero-body" id="heroBody">
                <div class="container">
                    <h1 class="title is-1" id="heroTitle">
                        My Team
                    </h1>
                </div>
            </div>
        </section>
        <!-- page title end -->

        <!-- portfolio section start -->
        <section class="section" id="portfolio">
            <div class="container">
                <!-- portfolio heading start -->
                <div class="heading" id="portfolioContainer">
                    <h2 class="title is-2" id="portfolioTitle">portfolio</h2>
                    <h4 class="subtitle is-5" id="portfolioSub">my latest works</h4>
                    <br>
                </div>
                <!-- portfolio heading end -->

                <!-- portfolio content start -->
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title has-background-dark has-text-white">
                                        <span>Scrabble Party App</span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <footer class="card-footer">
                                        <a href="https://arnette110.github.io/Scrabble-Party-App/" target="_blank"
                                            class="card-footer-item">Deployed</a>
                                        <a href="https://github.com/Arnette110/Scrabble-Party-App" target="_blank"
                                            class="card-footer-item">Source
                                            Code</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio content end -->
                </div>
        </section>
        <!-- portfolio section end -->



        <!-- footer start -->
        <footer class="footer">
            <div class="container has-text-centered" id="footerContent">
                <p>Christopher Ellis</p><i class="fa fa-copyright    "> 2020</i>
            </div>
        </footer>
        <!-- footer end -->


        <script src="./assets/js/script.js"></script>
    </body>

</html>
